/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

/* @import '../node_modules/bootswatch/dist/united/bootstrap.min.css'; */

@import '../node_modules/bootswatch/dist/lux/bootstrap.min.css';

/* @import '../node_modules/bootswatch/dist/flatly/bootstrap.min.css'; */

@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

/* ESTILOS GENERALES */

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.nav-tabs>li.open,
.member-tabset>.nav-tabs>li {
    padding: 0 1rem;
    margin-right: 0;
    border-bottom: 4px solid transparent;
}

.nav-tabs>li.open,
.member-tabset>.nav-tabs>li:hover {
    border-bottom: 4px solid #a6a6a6;
}

.member-tabset>.nav-tabs>li.nav-item>a.nav-link {
    border: none;
}

.member-tabset>.nav-tabs>li.open>a,
.member-tabset>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: #333333;
}

.member-tabset>.nav-tabs>li.open>a>i,
.member-tabset>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.member-tabset>.nav-tabs>li.open .dropdown-menu,
.member-tabset>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
    border-bottom: 4px solid #1a1a1a;
    position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
    border: 0 !important;
    color: #333333;
}

.member-tabset>.nav-tabs>li.active>a>i {
    color: #404040;
}

.tab-pane active {
    padding-bottom: 50px;
}

.member-tabset>.tab-content {
    margin: -3px 5px 10px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 20px 5px;
}

.btn-secondary {
    background-color: #ececec !important;
    border-color: #e6e5e5 !important;
}

.btn-secondary:hover {
    background-color: #b0b6bb !important;
    border-color: #9fa4a9 !important;
}